body {
    background: hsl(218, 23%, 16%);
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.text h1 {
    font-size: 28px;
    color: white;
    position: absolute;
    bottom: 49%;
    left: 39%;
    text-align: center;
}
.text h2 {
    font-size: 12px;
    color: hsl(150, 100%, 66%);
    margin: 0;
    position: absolute;
    bottom: 67%;
    left: 46.5%;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.text-block {
    background: hsl(217, 19%, 24%);
    width:  550px;
    height: 350px;
    border-radius: 20px;
    position: absolute;
    left: 35%;
    bottom: 38%;
}

.kostka img {
    position: absolute;
    left: 32%;
    top: 32%;
}

.kostka {
    background: hsl(150, 100%, 66%);
    width:  65px;
    height: 65px;
    border-radius: 30px;
    position: absolute;
    left: 48%;
    top: 58%;
}

.pattern-divider-desktop img {
    position: absolute;
    left: 38%;
    top: 53%;

}

